---
- name: Ensure Bitcoin configuration directory exists
  file:
    path: /etc/bitcoin
    state: directory
    owner: bitcoin
    group: bitcoin
    mode: '0755'

- name: Ensure Bitcoin configuration file exists
  template:
    src: bitcoin.conf.j2
    dest: /etc/bitcoin/bitcoin.conf
    owner: bitcoin
    group: bitcoin
    mode: '0640'
  notify: Restart bitcoind

- name: Ensure Bitcoin service file exists
  template:
    src: bitcoind.service.j2
    dest: /etc/systemd/system/bitcoind.service
    mode: '0644'
  notify: Reload systemd

- name: Ensure Bitcoin service is running
  systemd:
    name: bitcoind
    state: started
    enabled: yes