{% if bitcoin_enable_indexes | default(false) %}
txindex=1
blockfilterindex=1
coinstatsindex=1
{% endif %}

{% if bitcoin_variant == 'knots' %}
spamtarp=1
{% endif %}

{% if bitcoin_config is defined %}
{% for key, value in bitcoin_config.items() %}
{% if value is string or value is number %}
{{ key }}={{ value }}
{% else %}
{% for item in value %}
{{ key }}={{ item }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}